body{
    margin:0;
    font-family: Georgia, serif;
    background:#f5efe6;
    color:#333;
}


header{
    background:#7a1f2b;
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    margin:0;
    font-size:40px;
}

header p{
    font-style:italic;
}

.container{
    max-width:900px;
    margin:auto;
    padding:30px;
}

img{
    width:100%;
    max-width:400px;
    display:block;
    margin:auto;
    border-radius:10px;
}

.section{
    margin-top:40px;
}

h2{
    color:#7a1f2b;
    border-bottom:2px solid #d6b26f;
    padding-bottom:5px;
}


footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
    margin-top:40px;
}

/*Texto de cita */
.cita{
font-size: 150%;

background:#fff8ec;

border-left:5px solid #7a1f2b;

padding:20px;

margin-top:20px;

font-style:italic;

transition: opacity 3s;

}

.desaparecer{
opacity:0;
}

/*Botón de mostrar cita */

.boton-cita{

background:#7a1f2b;
color:white;

font-family: Georgia, serif;
font-size:16px;

padding:12px 28px;

border:none;
border-radius:6px;

cursor:pointer;

transition: all 0.3s ease;

box-shadow:0 4px 8px rgba(0,0,0,0.2);

}

.boton-cita:hover{

background:#9b2b39;
transform:translateY(-2px);

}


.boton-cita:active{

transform:translateY(0px);

box-shadow:0 3px 6px rgba(0,0,0,0.2);

}

